body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .login-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
  }

  .logo {
    width: 100px;
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 20px;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }

  .remember {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
  }

  .remember input {
    margin-right: 5px;
  }

  .btn {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }

  .links {
    margin-top: 15px;
    }

    .registro-container {
        background: #fff;
        padding: 30px;
        border-radius:  20px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        width: 320px;
        text-align: center;
      }
      
      .header {
        background: linear-gradient(to right, #d4145a, #3a8dde);
        padding: 20px;
        border-radius: 10px 10px 0 0;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: -30px -30px 0px -30px;
      }
      
      .logo-registro {
        width: 240px;



        
      }
      
      .titulo-logo h1 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }
      
      .titulo-logo p {
        margin: 0;
        font-size: 16px;
        
      }
      
      form input, form select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      hr{
        opacity: 30%;
      }
      .cabecera {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-left: 60px;
      }

      .registro p{
        opacity: 60%;
        text-align: justify;
      }